TMDB_API_KEY="tmbd api key here"
JELLYFIN_URL="yourdomainhere.com"
SERVER_ID="votefin-1"
VOTE_LIMIT="5" # limits how many votes each user can use.
POSTER_IM_WIDTH="154" # This can be either 92, 154, 185, 342, 500, 780, or original
SECURE_ONLY_COOKIE="true" # If you want this to be a local only server set to false. This enforces TLS which doesn't work with IP addresses
