package templates

templ Login() {
	<div id="errorMessage"></div>
	<form hx-post="/login" hx-target>
		<label for="Username">"User Name"</label>
		<input type="text" id="Username" name="Username"/>
		<label for="Password">"Password"</label>
		<input type="text" id="Password" name="Password"/>
		<input type="submit" value="Submit"/>
	</form>
}

templ LoginError(errMes string) {
	<div id="errorMessage" hx-swap-oob="true">{ errMes }</div>
}
