package templates

templ Login() {
	<form method="post" action="/login">
		<label for="Username">"User Name"</label>
		<input type="text" id="Username" name="Username"/>
		<label for="Password">"Password"</label>
		<input type="password" id="Password" name="Password"/>
		<input type="submit" value="Submit"/>
	</form>
}
